<%- include('partials/header') %>

<div id="landing-page">
    <div class="landing-page-main-container">
        <h1>Welcome to node and express js</h1>
        <h3>Click on the button below to learn more</h3>
        <button>Call to action</button>
    </div>
</div>

<%- include('partials/footer') %>
